.jokeCard{
    margin: 50px;
    padding: 20px;
    border-radius: 2%;
    width: 260px;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.jokes{    
    display: flex;
    flex-wrap: wrap;
}

.question{
    font-family: cursive;    
}

.errorNumber{
    color: red;
    font-size: 55px;
    text-align: center;
    margin: 25px 0px;
    font-family: initial;
}

.errorCard{
    font-family: fantasy;   
    text-align: center;
}



.punchLine{
    text-align: center;
    font-family: cursive; 
    color: deepskyblue;
}